---

---

<div class="container">
  <slot />
</div>

<style lang="scss">
  .container {
    padding: 2rem;
    width: min(100%, 1100px);
    margin-inline: auto;

    @include mq(lg) {
      padding: 3rem;
    }
  }
</style>
