---
import Menu from "./Menu.astro";
import MenuMobile from "./MenuMobile.astro";
---

<header class="header">
  <div class="headerInner">
    <a href="/">Logo</a>
    <Menu />
    <MenuMobile />
  </div>
</header>

<style lang="scss">
  .header {
    display: flex;
    align-items: center;
    height: var(--header-height);
    padding: 20px 24px;
    border: 1px solid hsl(var(--border));
  }

  .headerInner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
  }
</style>
